@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.Container__Cards{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  margin: 5rem 4rem;
}

.card{
   border-radius: 15px;
   background-color: transparent;
   display: flex;
   height: 21rem;
   margin: 0px 25px;
   width: 10rem;
  
    
}
.card:hover{
  transition: all .7s ease-in-out;
  transform: scaleY(1);
}

.card-img-top{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 220px;
  width: 100%;
  z-index: -1;
}
.card-img-top:hover{
   transition: all .5s ease-in-out;
   transform: scaleY(1.1);
  
}
.card-body{
    height: 50px;
}
.Card__Descricao{
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 110px;
  padding: 15px;


}

.card__text{
  margin: 0;
  padding: 0;
}

.titulo{
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}
.descricao{
  font-size: 12px;
  font-weight: 500;
}
.preco{
  color:#28B15C ;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-left: 110px;
  margin-top: 5px;
}
 
.local{
  display: flex;
  flex-direction: row;
  margin-top: -2px;
  margin-bottom: 10px;
  font-size: 12px;

}
.icone{
  margin-top: 4px;
  margin-right: 5px;
}

@media screen and (max-width: 280px) {
    .Container__Cards{
      align-items: center;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      justify-content: center;
      margin: 2rem 0;
   
    }
}

@media screen and (max-width: 320px){
  .Container__Cards{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    margin: 2rem .4rem;
 
  }
  .card{
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    height: 21rem;
    margin: 5px 25px;
    width: 10rem;
   
     
 }
  
}

@media screen and (max-width: 375px){
  .Container__Cards{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    margin: 2rem .4rem;
 
  }
  .card{
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    height: 21rem;
    margin: 5px 25px;
    width: 10rem;
   
     
 }
  
}

@media screen and (max-width: 425px){
  .Container__Cards{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1,.2fr);
    justify-content: center;
    margin: 2rem 2.1rem;
 
  }
  .card{
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    height: 21rem;
    margin: 5px 25px;
    width: 10rem;
   
     
 }
  
}

@media screen and (max-width: 768px ) {
  .Container__Cards{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,.9fr);
    justify-content: center;
    margin: 4rem 4rem;
 
  }
  .card{
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    height: 21rem;
    margin: 10px 25px;
    width: 10rem;
   
     
 }
}

@media screen and (max-width: 1024px ) {
  .Container__Cards{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,.6fr);
    justify-content: center;
    margin: 4rem 3rem;
 
  }
  .card{
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    height: 21rem;
    margin: 10px 25px;
    width: 10rem;
   
     
 }
}
